.password-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-form-container form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 0.5em;
  box-shadow: var(--general-shadow);
  background: var(--nav-light);
  border-radius: 0.2em;
  margin-top: 2em;
  opacity: 1;
  transition: all 0.25s ease;
  margin-bottom: 1em;
  border: 0.5vmin solid var(--back-alt);
  box-shadow: 0.4rem 0.4rem var(--back-alt);
  align-items: center;
  width: 100%;
}

.password-form.get {
  opacity: 1;
  z-index: 10;
}

.password-form h2 {
  font-size: 2.5em;
  text-align: center;
  color: inherit;
  margin-bottom: 0.5em;
  font-family: "Jersey 15";
  font-weight: 100;
}

.password-form label {
  font-size: 0.8em;
  text-align: start;
  width: 100%;
}

.password-form input {
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
  width: 100%;
  align-self: center;
}

#password-button {
  margin: 1em 0 1em 0;
  width: 100%;
}

.already-registered {
  font-size: 0.85em;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.already-registered:hover {
  transform: scale(1.05);
  font-weight: 600;
}

.password-change-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.password-change-div label {
  width: 100%;
}

.password-change-div input {
  margin-bottom: 1em;
  width: 100%;
}

.change-password-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.change-password-label img {
  top: 45%;
  right: 0.75em;
}
