.toggle-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--back-general);
  border-radius: 0.2em;
  border: none;
  cursor: pointer;
  gap: 0.5em;
  background: var(--box-background);
  transition: all 0.3s;
  overflow: hidden;
  padding: 1em 3em;
  width: 17em;
  text-wrap: nowrap;
}

.toggle-btn:hover {
  background: var(--letter-general);
  box-shadow: 0 0 5px var(--lighter-main), 0 0 25px var(--lighter-main),
    0 0 50px var(--lighter-main), 0 0 100px var(--lighter-main);
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  color: var(--back-general);
}

.toggle-btn span {
  position: absolute;
  display: block;
}
.animation-span1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--lighter-main));
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
.animation-span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--lighter-main));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
.animation-span3 {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--lighter-main));
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.animation-span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--lighter-main));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

.toggle-btn p {
  font-weight: bolder;
  font-size: 1em;
}
.toggle-btn img {
  width: 1em;
  animation: anim 1s linear infinite;
  margin-top: 0.25em;
  background: transparent;
  filter: invert(1);
}

@keyframes anim {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }
}
