.video-card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--box-background);
  border: 0.5vmin solid var(--letter-general);
  box-shadow: 0.4rem 0.4rem var(--letter-general);
}

.vidcard-header {
  background: var(--back-general);
  border: 0.5vmin solid var(--letter-general);
  box-shadow: 0.4rem 0.4rem var(--letter-general);
  width: 100%;
  font-size: 0.9em;
  font-weight: bolder;
  padding: 0.2em 0.5em;
  color: var(--letter-general);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.vidcard-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.video-card.expanded {
  position: fixed;
  width: 50%;
  height: auto;
  max-height: 100vh;
  transform: scale(1.1);
  z-index: 10;
  box-shadow: var(--general-shadow);
  padding: 1em;
  display: flex;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: var(--back-general);
  box-shadow: var(--general-shadow);
  flex-direction: column;
}

.vidcard-summary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  width: 100%;
  margin-top: 1em;
}

.thumbnail-title {
  display: flex;
  height: fit-content;
}
.vid-thumbnail {
  width: 100%;
  min-width: 18em;
  height: 100%;
  object-fit: cover;
}
.midvid-info {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  gap: 0.5em;
}
.video-card.expanded .vid-thumbnail {
  width: 40%;
}
.vid-description {
  display: none;
  font-size: 0.8em;
}

.vid-description.expanded {
  display: block;
  width: 100%;
  text-align: left;
}

.vidcard-details {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.vidcard-details.expanded {
  display: flex;
}

.vidcard-title.expanded {
  display: flex;
}

.vidcard-title {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.title-url h3 {
  width: 100%;
  padding: 0.5em;
  background: var(--back-general);
  font-size: 0.95em;
  font-weight: bolder;
  transition: all 0.25s ease;
  color: inherit;
}
.title-url h3:hover {
  color: var(--main-green);
  text-shadow: 2px 2px 15px rgb(143, 143, 143);
}
.publish-date {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em;
}

.label {
  letter-spacing: 0.25em;
  height: auto;
  font-size: 0.7em;
  font-weight: bold;
  width: 100%;
}

.vid-input-div {
  display: none;
}

.vid-input-div.expanded {
  display: flex;
}

.vid-details-button {
  display: flex;
  gap: 1em;
}

.extra-details {
  display: none;
  width: 100%;
  gap: 1em;
}

.extra-details.expanded {
  display: flex;
}

.notes-input {
  width: 100%;
}

@media screen and (max-width: 1064px) {
  .video-card.expanded {
    width: 70%;
  }
}

@media screen and (max-width: 892px) {
  .video-card.expanded {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .video-card.expanded {
    width: 90%;
  }
  .vid-thumbnail {
    min-width: 15em;
  }
}

@media screen and (max-width: 577px) {
  .video-card.expanded {
    width: 95%;
  }
  .thumbnail-title {
    flex-flow: wrap;
    justify-content: center;
  }
  .vid-thumbnail {
    min-width: 60%;
    object-fit: cover;
  }
}

@media screen and (max-width: 577px) {
  .thumbnail-title {
    flex-flow: wrap;
    justify-content: center;
  }
  .vid-thumbnail {
    min-width: 65%;
    object-fit: cover;
  }
  .title-url h3,
  .publish-date {
    font-size: 0.8em;
  }
  .vidcard-details {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .vid-details-button {
    transform: scale(0.7);
    transform-origin: center;
    padding: 0;
    border: 1px solid yellowgreen;
  }
  .vidcard-title {
    padding: 1em 1em 0 1em;
  }
}
