.video-card {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--box-background);
  border: 0.5vmin solid var(--darker-main);
  box-shadow: 0.4rem 0.4rem var(--darker-main);
  border-radius: 0.1em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.video-card:hover,
.video-card:hover .vidcard-header {
  filter: contrast(1.6);
  box-shadow: var(--general-shadow);
}

.video-card.expanded:hover {
  filter: none;
}

.vidcard-header {
  background: var(--back-general);
  border: 0.5vmin solid var(--darker-main);
  box-shadow: 0.4rem 0.4rem var(--darker-main);
  width: 100%;
  font-size: 0.9em;
  font-weight: bolder;
  padding: 0.2em 0.5em;
  color: var(--darker-main);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  transition: all 0.3s ease-in-out;
}

.vidcard-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.video-card.expanded {
  position: fixed;
  width: 50%;
  background: var(--back-general);
  height: auto;
  max-height: 95vh;
  z-index: 10;
  box-shadow: var(--general-shadow);
  padding: 1em;
  display: flex;
  flex-direction: column;
  top: 16%;
  left: 23%;
  transform: none;
  /*translate: -50% -50%;*/
  scale: 1.1;
  z-index: 10;
}

.vidcard-summary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: auto;
  width: 100%;
  margin-top: 1em;
}

.thumbnail-title {
  display: flex;
  height: fit-content;
}
.vid-thumbnail {
  width: 100%;
  min-width: 18em;
  height: 100%;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 5%,
    black 95%,
    transparent 100%
  );
}
.midvid-info {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.5em;
  font-size: 1em;
  width: 100%;
  max-height: 11em;
  border-radius: 0.1em;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: var(--general-shadow);
}
.video-card.expanded .vid-thumbnail {
  width: 40%;
}
.vid-description {
  display: none;
  font-size: 0.8em;
}

.vid-description.expanded {
  display: block;
  width: 100%;
  text-align: left;
}

.vidcard-details {
  display: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}

.vidcard-details.expanded {
  display: flex;
}

.vidcard-title.expanded {
  display: flex;
}

.vidcard-title {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.title-url h3 {
  width: 100%;
  padding: 0.5em;
  background: var(--back-general);
  font-size: 0.95em;
  font-weight: bolder;
  transition: all 0.25s ease;
  color: inherit;
}
.title-url h3:hover {
  color: var(--main-color);
  text-shadow: 2px 2px 15px rgb(143, 143, 143);
}
.publish-date {
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em;
}

.label {
  letter-spacing: 0.25em;
  height: auto;
  font-size: 0.7em;
  font-weight: bold;
  width: 100%;
}

.vid-input-div {
  display: none;
}

.vid-input-div.expanded {
  display: flex;
}

.vid-details-button {
  display: flex;
  gap: 1em;
}

.extra-vid-details {
  display: none;
  width: 100%;
  gap: 1em;
}

.extra-vid-details.expanded {
  display: flex;
}

.notes-input {
  width: 100%;
  resize: none;
  border: 0.4vmin solid var(--darker-main);
  box-shadow: 0.3rem 0.3rem var(--darker-main);
  margin-bottom: 0.75em;
}

@media screen and (max-width: 1064px) {
  .video-card.expanded {
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 892px) {
  .video-card.expanded {
    width: 80%;
    left: 10%;
  }
}

@media screen and (max-width: 768px) {
  .video-card.expanded {
    width: 90%;
    left: 5%;
  }
  .vid-thumbnail {
    min-width: 15em;
  }
}

@media screen and (max-width: 577px) {
  .video-card.expanded {
    left: 5%;
    top: 15.5%;
    max-height: 80vh;
  }
  .notes-input {
    height: 2.5em;
    font-size: 0.8em;
  }
  .thumbnail-title {
    flex-flow: wrap;
    justify-content: center;
  }
  .vid-thumbnail {
    margin-top: 0.25em;
    object-fit: cover;
    min-width: 9em;
  }
  .title-url h3,
  .publish-date {
    font-size: 0.8em;
  }
  .vidcard-details {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .vid-details-button {
    transform: scale(0.75);
    transform-origin: center;
    padding: 0;
    gap: 3em;
  }
  .vidcard-title {
    padding: 1em 1em 0 1em;
  }
  .vid-description {
    font-size: 0.7em;
  }
  .extra-details p {
    font-size: 0.7em;
  }
}
