.main-aside {
  background: var(--aside-background);
  padding: 4em 1em 0 1em;
  width: 100%;
  min-width: 11.5em;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: 1/1/2/2;
  box-shadow: var(--general-shadow);
  color: var(--light-letter);
  gap: 2em;
  z-index: 1;
}

.main-aside .latest,
.main-aside .deadline,
.main-aside .calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mobile-close {
  filter: invert(1);
  width: 1.6em;
  position: absolute;
  top: .25em;
  visibility: hidden;
  cursor: pointer;
  opacity: .5;
  transition: all .3s ease;
}

.mobile-close:hover {
  opacity: .8;
}

.main-aside h3 {
  cursor: pointer;
  font-size: 1em;
  width: 100%;
  padding: 1em;
  background: rgba(54, 50, 138, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 1em;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.main-aside h3:hover {
  filter: brightness(1.2);
}

.todo-item {
  padding: 0.5em;
  font-size: 0.8em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  transition: all 0.2s ease;
}

.todo-item:hover {
  background: var(--button-alt-background);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.544);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 1em;
}

#load-more-tasks {
  align-self: center;
  display: none;
  cursor: pointer;
  margin-top: 0.25em;
  width: 100%;
}

#load-more-tasks.visible {
  display: block;
}

.collapsible {
  width: 100%;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

.collapsible.visible {
  visibility: visible;
  height: auto;
  opacity: 1;
}

@media screen and (max-width: 792px) {
  .main-aside {
    width: 15em;
    position: fixed;
    opacity: 0;
    left: 0;
    top:10em;
    padding: 2em 1em;
    height: auto;
    border-radius: 1em;
  }

  .main-aside h3 {
    font-size: .8em;
  }

  .main-aside.visible {
    display: flex;
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (max-width: 520px){
  .mobile-close {
    visibility: visible;
  }
}