.todo-footer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0 0 1em 0;
  flex-flow: wrap;
  background: var(--back-general);
  z-index: 0;
  justify-self: flex-end;
}

.todo-footer img {
  filter: invert(1);
}
