.default-header-avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8em;
  padding: 0;
}

.default-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  padding: 0;
}

.avatar {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  object-fit: cover;
}

.header-avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}
