.weather-widget {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  box-shadow: var(--general-shadow);
  gap: 0.5em;
  flex-wrap: wrap;
  background: var(--aside-background);
  color: var(--back-general);
  overflow: hidden;
  padding: 5px 30px;
  margin: 2em 0;
}

.weather-widget img {
  width: auto;
  height: 1.8em;
}

.time-element {
  min-width: 125px;
  text-align: center;
}

.weather-div {
  display: flex;
  font-size: 0.9em;
  border-radius: 0.1em;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em;
  height: 40px;
  transition: all 0.25s ease-in-out;
}

.weather-div:hover {
  transform: scale(1.05);
  background-color: rgba(53, 164, 255, 0.063);
}
