.quote-div {
  display: flex;
  width: 50%;
  height: 100%;
  /* min-height: 7em;
   */
  padding: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: var(--letter-general);
}

.quote-div h4 {
  font-weight: bold;
  font-size: 0.9em;
}

.quote-div p {
  font-size: 0.8em;
  align-self: flex-end;
}

@media screen and (max-width: 792px) {
  .quote-div {
    width: 40%;
  }
  .quote-div h4 {
    font-size: 0.7em;
  }
  .quote-div p {
    font-size: 0.7em;
  }

  @media screen and (max-width: 392px) {
    .quote-div {
      width: 100%;
    }
    .quote-div h4 {
      font-size: 0.8em;
    }
    .quote-div p {
      font-size: 0.8em;
    }
  }
}
