.video-li {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 0.5vmin solid var(--letter-general);
  box-shadow: 0.4rem 0.4rem var(--letter-general);
  padding: 1em;
  flex-direction: column;
}

.savedvid-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  gap: 1em;
}

.savedvid-title {
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.savedvid-title:hover h3 {
  transform: scale(1.05) translateX(1em);
  color: var(--main-green);
}

.savedvid-title p {
  font-size: 0.6em;
  width: fit-content;
  text-transform: uppercase;
  border: 3px solid var(--letter-general);
  position: relative;
  transition: all 0.2s ease;
  box-shadow: 5px 5px 0 var(--letter-general);
  text-decoration: none;
  padding: 0.25em;
  font-weight: bolder;
}

.savedvid-title h3 {
  font-size: 1em;
  transition: all 0.25s ease;
  padding-left: 1em;
}

.video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vid-collapsibles {
  display: none;
  transition: all 0.25s ease;
}

.vid-collapsibles.visible {
  display: flex;
}

.vid-li-summary {
  margin-top: 1em;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding: 0 1em;
  gap: 2em;
}
.inner-vid-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25em;
}

.saved-channel {
  font-size: 0.9em;
}
.saved-channel a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  font-weight: bolder;
  transition: all 0.25s ease;
  margin-bottom: 0.5em;
}
.saved-channel a:hover {
  color: var(--main-green);
}
.channel-icon {
  width: 5em;
}

.saved-publish-date {
  font-size: 0.9em;
}
.saved-vidcard-details {
  display: flex;
  width: 100%;
  font-size: 0.75em;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  gap: 1em;
  font-size: 0.8em;
}
.video-input-div {
  width: 100%;
  justify-content: center;
  gap: 2em;
  padding: 1em;
  height: 6em;
}
.saved-notes-input {
  width: 100%;
  border-radius: 0.1em;
}

.li-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.saved-vid-label {
  font-size: 0.75em;
  font-weight: bolder;
}

@media screen and (max-width: 815px) {
  .vid-li-summary {
    flex-flow: wrap;
  }
}
