.weather-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  height: auto;
  width: 25%;
  min-width: 15em;
  box-shadow: var(--general-shadow);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 0.2em;
  color: var(--letter-general);
}

.weather-widget h3 {
  font-size: 0.9em;
  align-self: start;
  padding-left: 0.5em;
}

.weather-widget p {
  font-size: 0.8em;
}

.weather-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-div img {
  width: 5em;
  height: auto;
}
.txt-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
}

@media screen and (max-width: 792px) {
  .weather-widget {
    min-width: 12em;
  }
  .weather-widget h3 {
    font-size: 0.7em;
  }
  .txt-div {
    font-size: 0.7em;
  }
  .weather-div img {
    width: 3.5em;
  }
}

@media screen and (max-width: 392px) {
  .weather-widget {
    width: 100%;
  }
  .weather-widget h3 {
    font-size: 0.85em;
  }
  .txt-div {
    font-size: 0.85em;
  }
  .weather-div img {
    width: 7em;
  }
}
