.book-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--general-back);
}

.toggle-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.menu-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
}

.middle-book {
  display: flex;
  width: 100%;
}

.display-space {
  width: 50%;
  background-color: rgba(85, 255, 47, 0.066);
}

.book-grid {
  display: grid;
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  padding: 2em;
  justify-content: center;
  align-self: center;
  gap: 3em;
  padding-bottom: 5em;
}

.saved-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 50vh;
}

@media screen and (width < 426px) {
  .book-grid {
    grid-auto-rows: 280px;
  }
}
