.simple-calendar {
  position: relative;
  box-shadow: var(--general-shadow);
  padding: 0.5em;
  background: var(--calendar-bg);
  color: var(--letter-general);
  border-radius: 1em;
  top: 1em;
  width: fit-content;
  margin-bottom: 2em;
  justify-self: center;
  align-self: center;
}

.calendar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.nav-btn {
  background: none;
  border: none;
  font-size: .8em;
  cursor: pointer;
  padding: 0 .5em;
  color: var(--letter-general);
}

.month-label {
  font-weight: bold;
  font-size: .8em;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid var(--letter-general);
  padding: .25em;
  width: 2em;
  height:1.5em;
  vertical-align: top;
}
.weekday {
  font-size: .7em;
}
.day-number {
  font-weight: bold;
  font-size: .7em;
  margin-bottom: .15em;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 2px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.high {
  background-color: rgb(255, 0, 111);
}

.dot.medium {
  background-color: rgb(255, 255, 0);
}

.dot.low {
  background-color: rgb(19, 255, 149);
}
