.home-container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5em;
  width: 100%;
}

.menu-btn {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
