.landing {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  overflow: hidden;
  position: sticky;
  overflow: hidden;
  height: auto;
}

.landing-header {
  display: flex;
  height: auto;
  will-change: transform;
  width: 100%;
  background-image: url("/images/cloudbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}
.landing-header-ideas {
  top: 80%;
  height: 60%;
  width: 100%;
  padding: 2em;
  will-change: transform;
  position: absolute;
  opacity: 0;
  display: flex;
}
.landing-box {
  top: 195%;
  height: 60%;
  width: 100%;
  will-change: transform;
  position: absolute;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-exp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}
