.saved-books-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  flex-flow: wrap;
  padding: 0 1em;
}

.matches-info {
  font-family: Montserrat, sans-serif;
  width: 6em;
  height: 3.5em;
  translate: -6px -6px;
  background: var(--box-background);
  border: 0.5vmin solid var(--letter-general);
  box-shadow: 0.3rem 0.3rem var(--letter-general);
  overflow: hidden;
  transition: all 0.3s ease;
  color: var(--letter-general);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.head-info {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 900;
  width: 100%;
  height: 100%;
  background: var(--back-general);
  color: var(--letter-general);
  border-bottom: 3px solid var(--letter-general);
  text-align: center;
}

.book-count {
  font-size: 0.8em;
  font-weight: bolder;
  padding-left: 0.5em;
}

.card:hover {
  translate: -6px;
}

#saved-category-select {
  height: 3em;
  border-radius: 0.1em;
  border: 0.25em solid var(--letter-general);
  text-transform: uppercase;
  transition: 0.2s linear;
  width: 15em;
  padding-left: 1em;
}

#saved-category-select:focus {
  border: 0.5px solid var(--letter-general);
  box-shadow: 5px 5px 0px var(--letter-general);
}

#clear-button {
  height: 3em;
  color: var(--letter-general);
  font-weight: bolder;
}

#clear-button:hover {
  color: var(--back-general);
}
