.video-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.toggle-sect {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

.video-grid {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.4fr));
  width: 100%;
  padding: 2em;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 3em;
}

.menu-sect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
