.hero-article {
    
}
.hero-article img {
    height: 100%;
    object-fit: contain;
    filter: invert(1);
}

.title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 2em;
    padding: 2em;
}

.title-div h3{
}
