#up-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    flex-direction: column;
    overflow: visible;
    background: inherit;
  }
  
  #up-btn img {
    width: 6.5em;
    padding: 0;
  }

  #up-btn span {
    font-size: 1.2em;
    opacity: 0;
    transition: all 0.3s ease-out;
    position: absolute;
    top: 0.25em;
}
  
  #up-btn:hover span {
    opacity: 1;
    transform: translateX(120%);
  }
   
  #up-btn img.dark {
    filter: invert(1);
  }
  
  /* #up-btn span.dark-letter {
    color: var(--back-general);
  }
   */
  @media (max-width: 430px) {
    #up-btn img {
      width: 3em;
    }
  
  /*   #up-btn span {
      font-size: 1.1em;
    }
  
    #up-btn:hover span {
      transform: translateX(-20%);
    }
   */
  /*   #up-btn {
      width: 12em;
    }
   */}
  