* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Monda";
}

:root {
  --back-general: rgb(250, 250, 250);
  --back-alt: #05060f;
  --nav-light: rgba(245, 245, 245, 0.879);
  --box-background: linear-gradient(to right, #24e26a, #2e2e2e);
  --hero-background: linear-gradient(to right top, #404040e6, #605e5ee4, #299742e6, #139244e4);
  --aside-background: linear-gradient(to right, #11452ab2, #2626269e);
  --button-alt-background: linear-gradient(to right, #1f1e1e, #2cc858);
  --letter-general: rgb(20, 20, 22);
  --highlight-letter: #a3a3a3ab;
  --general-shadow: 0 8px 32px 0 rgba(53, 53, 53, 0.37);
  --alt-shadow: 0px 10px 40px rgba(231, 229, 229, 0.471);
  --card-light-bg: linear-gradient(to right, #e7e7e7cf, #cacacac7);
  --card-dark-bg: radial-gradient(circle, rgba(0, 0, 0, 0.942) 0%, rgba(29, 29, 29, 0.959) 100%);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 6rem;
}

body {
  background-color: var(--back-general);
  transition: background-color 0.3s ease-in-out;
}

.dark {
  background-color: var(--back-alt);
  color: var(--back-general);

  .nav-links {
    box-shadow: var(--alt-shadow);
  }
  #sign-up-btn, .landing-container h1, .service-li {
    color: var(--back-general);
  }
  .landing-box  {
    box-shadow: var(--alt-shadow);
    background-color: var(--back-alt);
  }

  .snap {
    filter: invert(1);
  }
  .alt-login {
    box-shadow: var(--alt-shadow);
  }
  .quali-icons {
    filter: invert(50%);
  }

  #login-form,.services-ul, #register-form, .services-ul.floating {
    background: var(--back-alt);
    box-shadow: var(--alt-shadow);
  }
  .go-back-btn span {
    color: var(--back-general);
  }
  .todo-main, .main-aside {
    background: var(--back-alt);
  }
  .page-btn {
    box-shadow: var(--alt-shadow);
  }
  .weather-widget {
    box-shadow: var(--alt-shadow);
  }
  .task-editor {
    box-shadow: var(--alt-shadow);
  }
  .main-aside {
    box-shadow: var(--alt-shadow);
  }
  .simple-calendar {
    background: var(--back-alt);
    color: var(--back-general);
    box-shadow: var(--alt-shadow);
  }
  .nav-btn {
    color: var(--back-general);
  }
  .todo-display-card {
    box-shadow: var(--alt-shadow);
  }
  .calendar-table th,
  .calendar-table td {
    border: 1px solid var(--back-general);
  }
  .simple-calendar {
    background: var(--calendar-bg-alt);
  }
  .book-article {
    background: var(--back-alt);
  }
  .todo-footer, .nav-links {
    background: var(--back-alt);
  }
  .book-card, .todo-display-card, .with, .without, #login-form, #register-form {
    border: 0.5vmin solid var(--back-general);
    box-shadow: 0.4rem 0.4rem var(--back-general);
  }

  .book-card.expanded {
    background: var(--back-alt);
    box-shadow: var(--alt-shadow);
  
  }
  .card-summary.expanded {
    box-shadow: var(--alt-shadow);
  }

  .card-details p:nth-child(3) {
    box-shadow: var(--alt-shadow);
  }
  .main-aside h3, .task-editor, .card-summary.expanded, .nav-links, .details textarea {
    border: 0.4vmin solid var(--back-general);
    box-shadow: 0.3rem 0.3rem var(--back-general);
  }
  .service-li:hover {
    border: 0.2vmin solid var(--back-general);
    box-shadow: 0.1rem 0.1rem var(--back-general);
  }

  .landing-box {
    border: 0.6vmin solid var(--back-general);
    box-shadow: 0.5rem 0.5rem var(--back-general);
  }
  .loader span {
    color: var(--back-general);
  }
}

@font-face {
  font-family: "Monda";
  src: url("/fonts/monda_regular/monda_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IndieFlower";
  src: url("/fonts/indieflower-regular/IndieFlower-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}