.main-btn {
  display: flex;
  width: 10em;
  padding: 0.5em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-size: 200% 100%;
  background-image: var(--box-background);
  transition: background-position 0.3s ease-in-out;
  border: none;
  box-shadow: var(--general-shadow);
  border-radius: 0.2em;
}

.main-btn:hover {
  background-position: 90% 0;
  background-image: var(--button-alt-background);
  color: var(--back-general);
}
