.main-btn {
    padding: .5em;
    color: var(--back-general);
    border: none;
    border-radius: .2em;
    cursor: pointer;
    width: 8em;
    font-weight: bolder;
    background-image: var(--box-background);
    transition: background-image .25s ease-in-out
  }
  
  .main-btn:hover {
    background-image: var(--button-alt-background);
  }
  