#login-form {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  gap: 0.5em;
  box-shadow: var(--general-shadow);
  background: var(--nav-light);
  border-radius: 0.2em;
  margin-top: 2em;
  opacity: 1;
  transition: all 0.25s ease;
  margin-bottom: 1em;
  border: 0.5vmin solid var(--back-alt);
  box-shadow: 0.4rem 0.4rem var(--back-alt);
}

#login-form.get {
  opacity: 1;
  z-index: 10;
}

#login-form h2 {
  font-size: 2em;
  text-align: center;
  color: inherit;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  font-weight: 100;
  font-family: "Jersey 15";
}

#login-form label {
  font-size: 0.8em;
}

#login-form input {
  padding: 0.5em;
  border-radius: 0.2em;
  border: none;
}

#login-button {
  margin: 1em 0 1em 0;
  width: 100%;
}

.no-registered,
.forgot-password {
  font-size: 0.85em;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.no-registered:hover,
.forgot-password:hover {
  transform: scale(1.1);
  font-weight: 600;
}

#login-error {
  width: 100%;
  text-align: center;
}
