/* From Uiverse.io by satyamchaudharydev */
/* === removing default button style ===*/
.load-more-button {
  margin: 0;
  height: auto;
  background: var(--back-general);
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 1em;
}

/* button styling */
.load-more-button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: var(--lighter-main);
  --fs-size: 1.5em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  border-radius: 0.1em;
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.load-more-button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
