.log-btn {
  padding: .5em;
  background: var(--box-background);
  color: var(--light-letter);
  border: none;
  border-radius: 1em;
  cursor: pointer;
  width: 8em;
  font-weight: bolder;
  background-size: 200% 100%;
  background-image: var(--box-background);
  transition: background-position .3s ease-in-out;
}

.log-btn:hover {
  background-position: 100% 0;
  background-image: var(--button-alt-background)
}
