.todo-main {
  display: grid;
  grid-template-columns: 20vw 80vw;
  background-color: var(--nav-light);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 6em;
}

.todo-tasks {
  grid-area: 1/2/2/3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.todo-header {
  display: flex;
  gap: 1em;
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap;
  padding: .5em 1em;
}

.mid-container {
  display: flex;
  width: 100%;
  padding: 3em 6em 0 6em;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 2em;
}
.latest-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 3em;
}
 .editor-container {
  visibility: hidden;
  height: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3em;
  justify-content: center;
  align-items: center;
  transition: all .25s ease-in-out;
  transform: translateY(150%);
 }

 .editor-container.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  height: auto;
 }

 @media screen and (max-width: 792px) {
  .todo-main {
    grid-template-columns: 1fr;
  }
  .todo-tasks {
    grid-area: 1/1/2/2;
  }

 }

