.profile-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 2em 6em;
  transition: all 0.25s ease;
  justify-content: center;
  align-items: center;
}

.profile-info-container.inactive {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.profile-info-body {
  display: flex;
  padding: 2em;
  transition: all 0.25s ease;
  width: 100%;
}

.profile-info-body.inactive {
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.aside-profile {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--letter-general);
  box-shadow: 10px 10px 0 var(--letter-general);
  width: 40%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    var(--main-color),
    #57bfff 40%,
    #8fd2fc 60%,
    #c1e7ff 80%,
    transparent 100%
  );
  border-radius: 0.1em;
}

.aside-profile h2 {
  font-family: "Jersey 15";
  font-size: 4em;
}

.aside-profile p {
  font-size: 1.1em;
  font-weight: bold;
}

.picture-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.picture-name div {
  display: flex;
}

.profile-plain-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  margin-left: 7em;
  justify-content: center;
  align-items: center;
}
.profile-plain-info li {
  display: flex;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 1em;
  border-radius: 0.1em;
  color: var(--darker-main);
  border: 3px solid var(--darker-main);
}

.profile-plain-info li:hover {
  transform: translate(-2px, -2px);
  box-shadow: 10px 10px 0 var(--letter-general);
}

.profile-plain-info li p {
  font-family: "Jersey 15";
  font-size: 1.6em;
  width: 100%;
}

.profile-info-icons {
  width: 2em;
  height: auto;
}

.profile-plain-info li:last-of-type {
  border: none;
  box-shadow: none;
  justify-content: flex-start;
}

@media screen and (width < 1085px) {
  .profile-info-container {
    padding: 2em;
  }
}

@media screen and (width < 931px) {
  .profile-info-body {
    flex-wrap: wrap;
    padding: 0 8em;
  }

  .aside-profile {
    width: 100%;
    margin-bottom: 2em;
    height: 30em;
  }

  .profile-plain-info {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (width < 745px) {
  .profile-info-body {
    padding: 0 4em;
  }
}

@media screen and (width < 505px) {
  .profile-info-container {
    padding: 1em 0;
  }
  .profile-info-body {
    padding: 2em 2em;
  }
  .profile-plain-info li p {
    font-size: 1.2em;
  }
}
